button {
    width: 14vw;
    height: 4vh;
    border-radius: 25px;
    color: #ffffff;
    border: none;
    cursor: pointer;
}

.btn-primary {
    background: #262730;
}

.btn-primary:hover {
    background-color: #494b5d;
}

.btn-alternate {
    background: #d20801;
}

.btn-alternate:hover {
    background-color: #d208019e;
}

.whiteBt {
    width: 2vw;
    height: 2vw;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #fbf9f9;
    border: none;
}

.whiteBt:hover {
    /* background-color: #b7b7b7; */
}

.btPhoto {
    width: 5vw;
    height: 2vw;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid rgba(0, 0, 0, 0.21);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

#btRmFt {
    width: 5vw;

    color: red;
    background-color: #fbf9f9;
    border: none;
}

#btRmFt:hover {
    background-color: #b7b7b7;
}

.options {
    height: 5%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    background-color: #262730;
    border: none;
    border-radius: 0px;

    font-size: 0.8em;
    text-decoration: none;
}

.options:hover {
    background-color: rgba(251, 249, 249, 0.15);
}

#loginButton {
    background: #262730;
    border-radius: 25px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 0.9vw;
    line-height: 23px;
    color: #fbf9f9;
    cursor: pointer;
    width: 6vw;
    height: 3vh;
    margin: 1vh;
}

#btnChange {
    width: 10vw;
    height: auto;
    border: none;
    background: linear-gradient(178.99deg, #262730 0.86%, rgba(38, 39, 48, 0) 211.02%);
    border-radius: 3px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 1vw;
    line-height: 38px;
    color: #fbf9f9;
    cursor: pointer;
    position: relative;
    top: 68%;
    left: 5%;
}
