#btRegister{

    width: 14vw;
    height: 4vh;
    
    background: #262730;
    border-radius: 25px;

}

#btRegister:hover{

    background-color: #494b5d;

}

#btListProds{

    width: 14vw;
    height: 4vh;

    background: #D20801;
    border: none;
    border-radius: 25px;    

}

#btListProds:hover{

    background-color: #d208019e;

}

.whiteBt{

    width: 2vw;
    height: 2vw;


    display: flex;
    align-items: center;
    justify-content: flex-start;

    background-color: #FBF9F9;
    border: none;

}

.whiteBt:hover{

    background-color: #b7b7b7;

}

.btPhoto{

    width: 5vw;
    height: 2vw;

    display: flex;
    align-items: center;
    justify-content: center;
    
    border: 1px solid rgba(0, 0, 0, 0.21);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;

}

.btn-primary {
}

.btn-primary:hover {
}

.btn-alternate {
}

.btn-alternate:hover {
}

.options{

    height: 6vh;
    width: 15vw;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    background-color: #262730;
    border: none;

    font-size: 0.8em;

}

.options:hover{

    background-color: rgba(251, 249, 249, 0.15);

}
