.title {
    width: 100%;
    border-bottom: #000000 1px solid;
    font-family: "Distant Galaxy";
    font-size: 1.6rem;
}
.fontStarWars{
    font-family: "Distant Galaxy";
    font-size: 2rem;
    color: #ffffff;
}
.avatarMenuLateral{
    height: 40%;
}
.fontStarWarsMenu{
    font-family: "Distant Galaxy";
    font-size: 1.5rem;
    color: #ffffff;
}
.fontStarWarsBlack{
    font-family: "Distant Galaxy";
    font-size: 1.4rem;
    color: #000000;
}
.fontStarWarsBlackUsers{
    font-family: "Distant Galaxy";
    font-size: 1rem;
    color: #000000;
}
.font1 {
    margin: 0;
    font-family: "Roboto", sans-serif;
    color: #000000;
    font-size: 1rem;
}
.font2Cliente{
    font-family: "Roboto", sans-serif;
    font-size: 0.8rem;
    color: #ffffff;
    margin: 0;
    background-color: #262730;
    border: none;
}
.font2 {
    margin: 0;
    font-family: "Roboto", sans-serif;
    color: #ffffff;
    font-weight: bold;
}

.font3 {
    margin: 0;
    font-family: "Roboto", sans-serif;
    color: #6b6767;
}

.bold {
    font-weight: 700;
}

.low {
    font-size: small;
}

.error {
    color: #d20801;
}
