.font1{

    margin: 0;
    font-family: "Roboto", sans-serif;
    color: #000000;

}

.font2{

    margin: 0;
    font-family: "Roboto", sans-serif;
    color: #ffffff;

}

.font3{

    margin: 0;
    font-family: "Roboto", sans-serif;
    color: #6B6767;

}

.bold{

    font-weight: 700;

}

.low{

    font-size: small;

}