input {
    height: 5vh;
    background-color: transparent;
    border: none;
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
}

select {
    height: 5vh;
    background-color: transparent;
    border: none;
}

textarea {

    resize: none;

    border: none;
    background-color: transparent;
}

.file {
    display: flex;
    flex-direction: column;
    gap: 1vh;
}
