input{

    height: 4vh;
    background-color: transparent;
    border: none;

}

select{

    height: 4vh;
    background-color: transparent;
    border: none;

}

textarea{

    border: none;
    background-color: transparent;

}