.line{

    width: 55vw;
    height: 3px;
    background: #262730;

}

.line2{

    width: 55vw;
    height: 1px;
    background: #262730;

}

.line3{

    width: 37vw;
    height: 3px;
    background: #262730;

}


.line4{

    width: 37vw;
    height: 1px;
    background: #262730;

}

.line5{

    width: 40vw;
    height: 1px;
    background: #262730;

}