.line{

    width: 75vw;
    height: 3px;
    background: #262730;

}

.line2{

    width: 75vw;
    height: 1px;
    background: #262730;

}

.line3{

    width: 50vw;
    height: 3px;
    background: #262730;

}


.line4{

    width: 50vw;
    height: 1px;
    background: #262730;

}

.line5{

    width: 40vw;
    height: 1px;
    background: #262730;

}