#search {
    background-image: url("../images/search.svg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 2.5vh;
    padding-left: 1.5vw;
    border-radius: 20px;
    margin-left: 1.5vw;
    height: 2vh;
    border: thin solid #000000;
}

#email {
    padding-left: 1.5vw;
    border-radius: 20px;
    height: 2.5vh;
    width: 13vw;
    margin: 1vh;
    background: #F0F0F0;
    border: 2px solid #F0F0F0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.6);
}

#password {
    background-image: url("../images/visibility_off.svg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 2.5vh;
    padding-left: 1.5vw;
    border-radius: 20px;
    height: 2.5vh;
    width: 13vw;
    margin: 1vh;
    background: #F0F0F0;
    border: 2px solid #F0F0F0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.6);
}