#search {
    background-size: 2.5vh;
    padding-left: 1.5vw;
    height: 3vh;
    width: 30vw;
    border: thin solid #262730;
    border-right: none;
}

#searchBusca {
    height: 3vh;
}

#searchButton {
    height: 3vh;
    border: thin solid #262730;
    border-left: none;
    background-color: #f7ae11;
    cursor: pointer;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

#filterSearch {
    height: 3vh;
    border: none;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    background-color: #262730;
    cursor: pointer;
    color: #f0f0f0;
}

#searchDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#username {
    padding-left: 1.5vw;
    border-radius: 20px;
    height: 2.5vh;
    margin: 1vh;
    background: #f0f0f0;
    border: 2px solid #f0f0f0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.6);
}

#input-email {
    padding-left: 1.5vw;
    border-radius: 20px;
    height: 2.5vh;
    margin: 1vh;
    background: #f0f0f0;
    border: 2px solid #f0f0f0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.6);
}

#input-password {
    background-image: url("../../images/visibility_off.svg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 2.5vh;
    padding-left: 1.5vw;
    border-radius: 20px;
    height: 2.5vh;
    margin: 1vh;
    background: #f0f0f0;
    border: 2px solid #f0f0f0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.6);
}
#emailForgot {
    padding-left: 1.5vw;
    border-radius: 20px;
    height: 2.5vh;
    margin: 1vh;
    background: #f0f0f0;
    border: 2px solid #f0f0f0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.6);
}
#city {
    padding-left: 1.5vw;
    border-radius: 20px;
    height: 2.5vh;
    margin: 1vh;
    background: #f0f0f0;
    border: 2px solid #f0f0f0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.6);
}

#state {
    padding-left: 1.5vw;
    border-radius: 20px;
    height: 2.5vh;
    margin: 1vh;
    background: #f0f0f0;
    border: 2px solid #f0f0f0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.6);
}
