#search {
    padding-left: 5%;
    height: 60%;
    width: 65%;
    border: thin solid #262730;
    border-right: none;
}

#searchBusca {
    height: 90%;
}

#searchButton {
    height: 60%;
    width: 8%;
    padding-top: 0.5%;
    border: thin solid #262730;
    border-left: none;
    background-color: #f7ae11;
    cursor: pointer;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

#filterSearch {
    height: 60%;
    border: none;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    background-color: #262730;
    cursor: pointer;
    color: #f0f0f0;
    width: 12%;
    text-align: center;
}

#searchDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
}

#username {
    border-radius: 20px;
    height: 5%;
    background: #f0f0f0;
    border: 2px solid #f0f0f0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.6);
    width: 50%;
    text-align: center;
}

#input-email {
    border-radius: 20px;
    height: 6%;
    width: 50%;
    text-align: center;
    background: #f0f0f0;
    border: 2px solid #f0f0f0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.6);
}
.inputSignup {
    height: 5% !important;
}
#input-password {
    border-radius: 20px;
    height: 6%;
    background: #f0f0f0;
    border: 2px solid #f0f0f0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.6);
    width: 50%;
    text-align: center;
}
#emailForgot {
    border-radius: 20px;
    height: 6%;
    background: #f0f0f0;
    border: 2px solid #f0f0f0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.6);
    width: 50%;
    text-align: center
}
#city {
    border-radius: 20px;
    height: 5%;
    background: #f0f0f0;
    border: 2px solid #f0f0f0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.6);
    width: 50%;
    text-align: center
}

#state {
    border-radius: 20px;
    height: 5%;
    background: #f0f0f0;
    border: 2px solid #f0f0f0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.6);
    width: 50%;
    text-align: center
}
.pForgot {
    width: 50%;
    display: flex;
    justify-content: end;
}
.pLoginSignup {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 23px;
    color: #000000;
}
.titleH2signup {
    font-family: "Distant Galaxy";
    font-size: 2rem;
    text-align: center;
}
