#admMenu {
    height: 99%;
    width: 23.5%;
    background-color: #262730;

    display: flex;
    flex-direction: column;
    align-self: flex-start;
    justify-content: space-between;
}

#perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 25%;
    margin-top: 15%;
}

#subMenu {
    height: 100%;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    font-size: 1.3rem;
}

#signOut {
    display: flex;
    align-items: center;
    justify-content: center;
}

#btn-logout {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
}

#admMain {
    width: 76.5%;
    height: 98%;
    padding: 5%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    background-color: #fbf9f9;
}

.avatar {
    width: 9%;

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    /* border-radius: 20px; */
}

.iconAdm {
    width: 20%;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1vw;
}

.headerAdm {
    height: 5%;
    margin-bottom: 5%
}

.iconSignOut {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1vw;
}
.navMenuAdm{
    height: 60%;
    width: 100%;
}