#admMenu {
    height: 98%;
    width: 23.5%;
    background-color: #262730;

    display: flex;
    flex-direction: column;
    align-self: flex-start;
    justify-content: space-between;
}

#perfil {
    height: 35%;
    width: 100%;
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#subMenu {
    height: 15%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    font-size: 1.3rem;
}

#signOut {
    display: flex;
    align-items: center;
    justify-content: center;
}

#btn-logout {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
}

#admMain {
    width: 76.5%;
    height: 98%;
    padding: 2vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    background-color: #fbf9f9;
}

.avatar {
    width: 2.5vw;
    height: 2.5vw;

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    /* border-radius: 20px; */
}

.iconAdm {
    width: 20%;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1vw;
}

.headerAdm {
    height: 5%;
}

.iconSignOut {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1vw;
}
