#admMenu{

    height: 88vh;
    width: 15vw;

    background-color: #262730;

    display: flex;
    flex-direction: column;
    align-self: flex-start;
    justify-content: space-between;
    
}

#perfil{

    height: 15vh;

    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

#subMenu{

    height: 25vh;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    font-size: 1.3rem;

}

#signOut{

    display: flex;
    align-items: center;
    justify-content: center;

}

#outBt{

    width: 15vw;

    display: flex;
    justify-content: space-evenly;
}

#admMain{

    width: 65vw;
    height: 84vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    background-color: #ffffff;

}

.avatar{

    width: 5vw;
    height: 5vw;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: gray;
    border-radius: 50px;

}

.iconAdm{

    width: 2vw;

    display: flex;
    align-items: center;
    justify-content: center;

}