.trocasPage{
display: flex;
flex-direction: row;
width: 30%;
height: 100%;
justify-content: flex-start;
align-items: center;
}
.dataPedidoTroca{
display: flex;
flex-direction: column;
width: 70%;
height: 100%;
justify-content: flex-start;
margin-top: 2%;
}
.minhasTrocas{
display: flex;
flex-direction: row;
width: 60%;
height: 100%;
justify-content: space-between;
}

.btnTrocas{
    background-color: #262730;
    color: #fbf9f9;
    border: none;
    height: 100%;
    width: 100%;
    cursor: pointer;
}
.btnTrocaVermelho{
    background-color: #6D0F0F;
    color: #fbf9f9;
    border: none;
    cursor: pointer;
    padding: 0.1% 3% 0.1% 3%;
}
.btnTrocaAzul{
    background-color: #262730;
    color: #fbf9f9;
    border: none;
    cursor: pointer;
    padding: 0.1% 3% 0.1% 3%;
}
.btnMinhasTrocas{
    height: 100% !important;
    padding: 1.1% 3% 1.1% 3% !important;
}
.btnTrocasWhite{
    background-color: #fbf9f9;
    color: #262730;
    border: none;
    height: 100%;
    width: 100%;
    cursor: pointer;
}

.headerTrocaClient {
    height: 10%;
    background-color: #fbf9f9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 4%;
}

#gearClientTrocaImg{
    margin-right: 7%;
    height: 50%
}

.barTroca {
    width: 100%;
    height: 1%;
    background: #000000;
    margin-top: 1%;
    margin-bottom: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.confInfosClientTroca {

    padding: 4%;
    height: 75%;
    background-color: #fbf9f9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    margin-top: 5%;
}
.infosTrocaCliente{
    padding: 3%;
    height: 35%;
    background-color: #fbf9f9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    margin-top: 5%;
}
.fontTroca{
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

.fonteFunko{
    font-size: 1.5rem;
    font-family: "Distant Galaxy";
    margin: 0.8vw 0 0 0;
    width: 20%;
}
.fonteStatus{
    font-size: 1.5rem;
    font-family: "Distant Galaxy";
    margin: 0.8vw 0 0 0;
}
.containTrocas{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.statusTrocas{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 2% 0 2%;
}
.infoBetweenClientTrade{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 95%;
}
.emAndamento{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.barTrade{
    width: 100%;
    height: 1%;
    background: #000000;
    margin: 2% 0 2% 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
#tableClientTrade{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.labelTroca{
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    margin-top: 2%;
}