#myCollectionPage {
    width: 100%;
    height: 100%;
    padding: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.containTrocas {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 10%;
    padding: 1% 0 0 4%;
}
.containTrocasDiv {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 90%;
    padding: 1% 1% 0 1%;
}
.divCollectionClient {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
}
.divCollectionClientText {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.clientName {
    font-size: 1.8rem;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
   
}

.clientCity {
    font-size: 1.2rem;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    margin: 0 0 0 0;
}

.divCollectionTop {
    padding: 0 4% 0 4%;
    height: 18%;
    background-color: #fbf9f9;
    display: flex;
    flex-direction: column;
}
.fontCollectionFunko {
    font-size: 1.8rem;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
}
.divCollectionFunkos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 96%;
    height: 70%;
    padding: 0 2% 0 2%;
    justify-content: space-around;
    align-items: center;
    overflow-x: auto;
    overflow-y: scroll;
    scrollbar-width: thin; /* "auto" or "thin" */
    scrollbar-color: #fbf9f9 #01017c; /* scroll thumb and track */
}

.divFunko {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 45%;
    margin: 0% 0 5% 0;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    filter: grayscale(1);
}

.comum{
    background-image: url("../../images/borderComum.png");
}
.raro{
    background-image: url("../../images/borderRaro.png");
}
.lendário{
    background-image: url("../../images/borderLendario.png");
}

.my-item {
    filter: grayscale(0);
    justify-content: flex-end !important;
}

.imgCollectionFunko {
    height: 50%;
    object-fit: contain;
    align-items: center;
}
.divCollectionFunkos::-webkit-scrollbar {
    width: 12px; /* width of the entire scrollbar */
}

.divCollectionFunkos::-webkit-scrollbar-track {
    background: #01017c; /* color of the tracking area */
}

.divCollectionFunkos::-webkit-scrollbar-thumb {
    background-color: #fbf9f9; /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
    border: 3px solid #01017c; /* creates padding around scroll thumb */
}

.btnCollectionFunko{
    width: 17%;
    height: 17%;
    position: relative;
    top: 4.5%;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    margin-bottom: 3%;
    z-index: 5;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.btnChange{
    background-image: url("../../images/btnChange.png");
}
.btnNoChange{
    background-image: url("../../images/btnNoChange.png");
}
