#perfilClient{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 25%;
    margin-top: 15%;
}
#collectionButton{
    background: #fbf9f9;
    border-radius: 10px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 23px;
    color: #000000;
    cursor: pointer;
    width: 45%;
    height: 25%;
}

.optionsClient{
    height: 30%;
    width: 100%;
    background-color: #262730;
    border: none;
    font-size: 0.8rem;
    text-decoration: none;
    color: #fbf9f9;
    display: flex;
    justify-content: center;
}

.optionsClient:hover {
    background-color: rgba(251, 249, 249, 0.15);
}

.optionSignOut {
    height: 8vh;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    background-color: #262730;
    border: none;

    font-size: 0.8em;
    text-decoration: none;
}

.optionSignOut:hover {
    background-color: rgba(251, 249, 249, 0.15);
}

.optionsPrincipal {
    height: 15%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background-color: #262730;
    border: none;
    font-size: 1.3rem;
    text-decoration: none;
}

.optionsPrincipal:hover {
    background-color: rgba(251, 249, 249, 0.15);
}


.barClient {
    width: 100%;
    height: 0.5%;
    background: #fbf9f9;
    margin-top: 6%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#clientLeft{
    background-color: #fbf9f9;
    width: 76.5%;
    height: 98%;

}

#clientRight{
    height: 98%;
    width: 23.5%;

    background-color: #262730;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* #perfil {
    height: 15vh;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
} */

#subMenuClient {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 10%;
    font-size: 1.3rem;
}
.navMenuClient{
    height: 60%;
    width: 100%;
}
.divOptionsTrocas{
    height: 35%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}